/* обнулення */
@import url("reset.css");



.header_link p {
    color: rgb(255, 255, 0);
}
.header_link span {
    color: rgb(30, 62, 241);
}
.header_link a mark {
    color: rgb(0, 255, 55);
}

.title {
    color: aqua;
}
.content,
.paragraph {
    color: rgb(250, 164, 6);
}

.etymology * {
    color: rgb(207, 224, 51);
}

.distance li a {
    color: rgb(0, 255, 55);
}
.direct {
    color: blueviolet;
}
#list {
    color: blueviolet;
} 
#other {
    color: rgb(228, 134, 12);
}
#list-2{
    color: rgb(5, 252, 38);
}
div.size {
    color: rgb(107, 7, 238);
}

p.speed {
    color: rgb(252, 0, 0);
}

.spectrum.galaxy {
    color: rgb(0, 0, 245);
}

.problems > p {
    color: rgb(255, 0, 191);
}

.morfhology > p > span {
    color: rgb(206, 247, 27);
}

.footer_nav ~ p {
    /* color: rgb(255, 5, 5); */
}

.footer_nav + p {
    color: rgb(28, 109, 216);
}

[class*="__container"] {
    color: rgb(211, 16, 16);
}