@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);

body {
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;

}
[class*="__container"] {
    max-width: 845px;
    min-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
  }
  p {
    color: #6C757D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
  }

.header__title {
   max-width: 400px;
   margin-bottom: 40px;
    
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 160%;
    color: #212529;
}
.header__text {
    margin-bottom: 30px;
}
.header__image img{
    display: block; 
    margin: 0 auto; 
    max-width: 100%;
}
.header__image {
    padding-bottom: 80px;
}

.main__title {
    padding-bottom: 40px;
}
.main__text {
    padding-bottom: 80px;
}
.main__image { 
    text-align: center;
    margin: 0 auto; 
    max-width: 100%;
    padding-bottom: 80px;
}
.main__image img {
    max-width: 100%;
    
}
.picture_2{
    margin-right: 30px;
    display: inline-block;
    border-radius: 5px;
}
.picture_3 {

    border-radius: 5px;
  
}

.footer__container {
    max-width: 845px;
    margin: 0 auto;
    padding: 0 15px;

}
.footer__text {
    max-width: 100%;
}
.footer__text p {
    max-width: 816px;
    padding-bottom: 0;
}